body {
    margin: 0;
    padding: 20px 0 60px 40px;
    font-family: Lucida Grande, Arial, sans-serif;
    color: rgb(51, 51, 51);
}

/* Retina icon */
#kiwi-donate-icon {
	display: inline-block;
	background-image: url(imgs/icon.png);
	width: 64px;
	height: 64px;
	background-size: 64px 64px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#kiwi-donate-icon {
	display: inline-block;
	background-image: url(imgs/icon@2x.png);
	background-size: 64px 64px;
	}
}

table.t1 {
	margin-left: auto;
	margin-right: auto;
}

table.t2 {
	margin-left: auto;
	margin-right: auto;
	background: #ddd; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6  */border: solid 1px #b4b4b4;
	/*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);*/
	-webkit-border-radius: 10px;
	-mox-box-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

td.c1 {
	width: auto;
}

td.c2 {
	width: auto;
	left-margin: 30px;
}

div.c5 {
	text-align: right;
}